/* fine imports __________________ */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(/css/normalize.css);

/* color __________________________ 
    creme: #f7f7f5
    pink: #e5b5c4
    peach: #f5d8c7
    sepia: #a59c8f
    gold: #c0ac51
*/

/* body __________________________ */

html, body {
    font-family: 'Lato', sans-serif;
	line-height: 1.5em;
    font-size: 16px;
    font-weight: 300;
	color: #a59c8f;
	text-rendering: optimizeLegibility;
	font-smooth:always;
    text-align: center;
    background: #f2f2ee;
	-webkit-font-smoothing: subpixel-antialiased;
	}

/* links __________________________ */
a {
	text-decoration:none;
	color:#e5b5c4;
	font-weight: bold;
	}
a:link {
    -webkit-tap-highlight-color: #335eee;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s; }
a:visited { color:#c0ac51;}
a:hover{ color: #c0ac51;}

/* typography __________________________ */

h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; font-weight: 400;}
h1 { font-size: 6rem; line-height: 1em; color: #c0ac51;}
h2 { font-size: 2rem; line-height: 0.4em; }
h3 { font-size: 1.2rem; line-height: 0.8em; }
h4 { font-size: 1.6rem; line-height: 1.2em; }
h5 { font-size: 1.125rem; line-height: 0.6em; }

ol { list-style-type: square; margin-left: 0;}
ul { list-style-type: none; margin-left: 0;}
li {margin-left: 0;}
p {margin-bottom: 0.5em; }
em, small { font-size: 0.8rem; color: #c0ac51;}
blockquote, q { }
strong { font-weight: 700; }
address {margin-bottom: 4rem;}


/* layout __________________________ */
header, section, footer { padding: 1rem;}
main { }
header { }
hgroup {}
menu {}
nav {}
    nav li { display: inline;}
section {}
article { width: 88%; margin: 0 auto; }
aside {}
figure {}
footer { 
    color: #f7f7f5;
    }
hr {
    width: 2rem;
    border: 0.0625rem solid #f5d8c7;
    }


/* forms __________________________ */
form {}
fieldset { border: 0;}
legend, label {font-weight: bold;}
input, input[type="search"], textarea { padding: 0.4rem;}
input[type="checkbox"] {}
input[type="radio"] {}
button, input[type="button"], input[type="reset"], input[type="submit"],.button {
	padding: 0.6rem 2rem 0.8rem;
    font-family: 'Playfair Display', serif;
	font-size: 2em;
	color: #e5b5c4;
    border: 1px solid #e5b5c4;
    border-radius: 40px;
	}
button:hover { background: #c0ac51; color: #c0ac51; }
/* media __________________________ */
img {  }
.cover {object-fit: cover; }
audio {}
video {}

/* more __________________________ */
.container:after {
  content:"";
  display:table;
  clear:both;
}


/* let's be repsonsive (mobile first- move up when done editing)__________________________ */
@media screen and (min-width: 480px) {
    article { float: left; width: 50%; margin: 0 auto; padding: 1 rem 2rem;}
    }
@media screen and (min-width: 900px) {
    article { float: left; width: 40%; margin: 0 auto; padding: 1 rem 2rem;}
    section { padding: 2rem; }
    }

/* print is dead __________________________

@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { color: #444 !important; text-decoration: underline; } a[href]:after { content: " (" attr(href) ")"; }
abbr[title]:after { content: " (" attr(title) ")"; } .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } thead { display: table-header-group; } tr, img { page-break-inside: avoid; } @page { margin: 0.5cm; } p, h2, h3 { orphans: 3; widows: 3; } h2, h3{ page-break-after: avoid; }
*/
